.container-one {
    width: 100%;
    border: 5px solid black;
    padding: 10px;
    box-sizing: border-box ;
  }
.square-one {
    height: 150px;
    width: 50px;
    background-color: blueviolet;
    display: inline-block;
  }
.square-two{
    height:18vh;
    width:300px;
    background-color: green;
    display: inline-block;
    padding:10px;
    margin:0 50px;
}
.circle-one{
    height:18vh;
    width: 140px;
    background-color:rgb(119, 119, 236);
    display: inline-block;
    border-radius:48%;
    padding:10px;
}
.container-two{
    width: 99%;
    height:250px;
    border: 5px dotted black;
    margin-top: 20px;

}
.box-shadow{
    height:150px;
    width:80%;
    padding:10px;
    background-color: blanchedalmond;
    margin:35px 75px;
    box-shadow: 10px 10px grey;
   
}

.container-three{
    height:125px;
    width:50%;
    padding: 10px;
    border: .5px solid rgb(233, 229, 229);
    box-shadow: 3px 3px rgb(184, 180, 180);
    display:block;
    margin: 50px 25vh;
    text-align: center;
    color: rgb(44, 44, 179);
    
}