.header{
    height:20vh;
    width:100%;
    background-color: rgb(223, 222, 222);
}

.mini-box{
    height: 15vh;
    width: 15vh;
    background-color: aqua;
    display: inline-block;
    margin: 15px 15px;
}
.main{
    height: 40vh;
    width: 100%;
    background-color: white;
}
.blue{
    height: 10vh;
    width: 100%;
    background-color: rgb(73, 172, 202);
}
.green{
    height: 10vh;
    width: 100%;
    background-color: green;
}
.barph{
    height: 10vh;
    width: 100%;
    background-color: rgb(151, 179, 139)
}
.yellow{
    height: 10vh;
    width: 100%;
    background-color: yellow;
}